@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,900,400italic);

body {
  /* color: #3c3b3b; */
  /* background-color: whitesmoke; */
  /* color: #fff; */
  background-color: #d4d7da;
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

h2.border-line {
	overflow: hidden;
	margin: .3em 0 .7em;
  color: #000;
  /* text-align: center; */
}
h2.border-line:after {
	height: 2px;
}
h2.border-line::after {
	content: '';
	display: inline-block;
	width: 100%;
	background-color: #e51212;
	margin-right: -100%;
	margin-left: 20px;
	vertical-align: middle;
}

.schedule-title {
  color: #000;
  font-family: "Lato", sans-serif;
  /* font-weight: 300; */
  text-align: center;
  padding: 20px;
}

.event-list {
  font-family: "Lato", sans-serif;
  list-style: none;
}

ul {
  padding: 0;
}

.event {
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.589) !important;
  /* background-color: #a4a3a3; */
  margin-bottom: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.event .date {
  display: block;
  background-color: #e51212;
  line-height: 1.2;
  border-radius: 12px;
  width: 120px;
  height: 120px;
  margin: 20px 0 20px 20px;
  text-align: center;
  text-transform: uppercase;
  /* padding: 5px; */
  /* border: 1px solid #000; */
}

.event .date span {
  /* font-size: 2rem;
  font-weight: 300; */
  display: block;
}

.event .date .month {
  font-size: 1.2rem;
  color: #fff;
  padding: 3px 0;
  font-weight: 500;
  /* background-color: #e51212; */
}

.event .date .day {
  color: #fff;
  background-color: #000;
  font-size: 3.8rem;
}

.event .date .weekday {
  color: #fff;
  font-size: .8rem;
  /* padding: 5px; */
  font-weight: 500;
  /* background-color: #000; */
}

.event .info {
  color: #000;
}

.event .info .title {
  color: #000;
  font-weight: 300;
  font-size: 1.8em;
  padding: 20px 20px 0 20px;
}

.event .info .desc {
  color: #797777;
  font-weight: 300;
  padding: 0 0 0 20px;
}

.font-awesome {
  margin-right: 5px;
}

/* media queries for smaller screens */

@media (max-width: 800px) {
  .event {
    margin-bottom: 10px;
  }

  .event .date {
    max-width: 80px;
    max-height: 80px;
    /* margin-left: 10px; */
  }

  .event .date .month {
    font-size: .8rem;
  }
  
  .event .date .day {
    font-size: 2.5rem;
    padding-bottom: 1px;
  }


  .event .date .weekday {
    font-size: .5rem;
    /* font-weight: 300; */
  }

  .event .date .month {
    font-weight: 900;
  }

  .event .info .title {
    font-size: 1rem;
    /* padding: 10px 10px 0 10px; */
  }

  .event .info .desc {
    font-size: 0.75rem;
    /* padding: 0 0 0 10px; */
  }

  .event {
    max-height: 100px;
  }
}