@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,900,400italic);

body {
  /* color: #3c3b3b;
  background-color: whitesmoke; */
  background-color: rgb(32, 32, 32);
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

h2.border-line {
	overflow: hidden;
	margin: .3em 0 .7em;
}
h2.border-line:after {
	height: 3px;
}
h2.border-line::after {
	content: '';
	display: inline-block;
	width: 100%;
	background-color: #ccc;
	margin-right: -100%;
	margin-left: 20px;
	vertical-align: middle;
  color: #ccc;
}

h2.border-line-month {
	overflow: hidden;
	margin: .3em 0 .7em;
  font-size: 1rem;
}
h2.border-line-month:after {
	height: 1px;
}
h2.border-line-month::after {
	content: '';
	display: inline-block;
	width: 100%;
	background-color: rgb(110, 108, 108);
	margin-right: -100%;
	margin-left: 40px;
	vertical-align: middle;
  color: rgb(110, 108, 108);
}

.schedule-title {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 20px;
}

.event-list {
  font-family: "Lato", sans-serif;
  list-style: none;
}

ul {
  padding: 0;
}

.event {
  background-color: #3c3b3b;
  margin-bottom: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  
}

.event .date {
  display: block;
  background-color: #e51212;
  line-height: 1.2;
  border-radius: 12px;
  width: 120px;
  height: 120px;
  margin: 20px 0 20px 20px;
  text-align: center;
  text-transform: uppercase;
  /* padding: 5px; */
  /* border: 1px solid #000; */
}

.event .date span {
  /* font-size: 2rem;
  font-weight: 300; */
  display: block;
}

.event .date .month {
  font-size: 1.2rem;
  color: #fff;
  padding: 3px 0;
  font-weight: 500;
  /* background-color: #e51212; */
}

.event .date .day {
  color: #fff;
  background-color: #000;
  font-size: 3.8rem;
}

.event .date .weekday {
  color: #fff;
  font-size: .8rem;
  /* padding: 5px; */
  font-weight: 500;
  /* background-color: #000; */
}

.event .info {
  color: #f5f5f5;
}

.event .info .title {
  color: #f5f5f5;
  font-weight: 300;
  font-size: 1.8em;
  padding: 20px 20px 0 20px;
}

.event .info .desc {
  color: #a9a3a3;
  font-weight: 300;
  padding: 0 0 0 20px;
}

/* media queries for smaller screens */

@media (max-width: 800px) {
  .event {
    margin-bottom: 10px;
  }

  .event .date {
    max-width: 80px;
    max-height: 80px;
    margin-left: 10px;
  }

  .event .date .month {
    font-size: .8rem;
  }
  
  .event .date .day {
    font-size: 2.4rem;
    padding-bottom: 1px;
  }


  .event .date .weekday {
    font-size: .5rem;
    /* font-weight: 300; */
  }

  .event .date .month {
    font-weight: 900;
  }

  .event .info .title {
    font-size: .7rem;
    padding: 10px 10px 0 10px;
  }

  .event .info .desc {
    font-size: 0.65rem;
    padding: 0 0 0 10px;
  }

  .event {
    max-height: 100px;
  }
}